# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\idea WorkSpace\test_lamdba\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
